/* Landscape SmartPhones */

@media (min-width: 640px) and (orientation: landscape) {
  
}


/* sm Screens */

@media (min-width: 768px) {
 
}

/* lg Screens */

@media (min-width: 968px) {
	.section-column {
		padding: 0 30px 30px;
		float: none;
		display: table-cell;
}
	.centre-form {
		padding-top: 30px;
		min-height: 240px;
		margin: 0 auto;
		max-width: 50%;
}  
}

/* xl Screens */

@media (min-width: 1400px) {


}